// @import "../../styles/theme.scss";

#container {
  height: 100%;
}
.next-menu-submenu-title {
  border-radius: 0px !important;
  position: relative;
  left: 2px !important;
}
.container {
  width: 100%;
  height: 100%;

  .main-content {
    overflow: hidden;
    height: 100%;

    .right-content {
      padding-left: 65px;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      background: #ededed;
      //transition: padding 1s linear;
      &.right-content-full {
        padding-left: 175px;
      }
    }
  }
}
