

.multparameter-contents {
  padding-left: 150px;
  padding-top: 20px;
    width:1000px;
  div{
    line-height:28px;
  }
  .images{
      text-align:center;
  }
  h3{
    font-weight:700;
    line-height:40px;
  }
  .left{
    text-align:left;
  }
}

  .content-component {
    .content-box{
      border: 1px solid #ddd;
    }
    .tag {
      display: inline-block;
      padding: 5px;
      margin: 10px;
      cursor: pointer;
      background: #E4FAFE;
      border: 1px solid #0FB2CC;
      border-radius: 2px;
      font-family: "PingFangSC-Regular";
      font-size: 10px;
      color: #000000;
      position: relative;
    }



    .tag-hover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
      height: 100%;
      background: #0FB2CC;
      border: 1px solid #0FB2CC;
      border-radius: 2px;
      z-index: 1001;
      color: #FFFFFF;
      line-height: 24px;
      display: none;
    }

    .tag:hover .tag-hover {
      display: inline-block;
    }

    .tag-close {
      display: inline-block;
      padding: 5px;
      margin: 10px;
      cursor: pointer;
      border: 1px solid #ececec;
      border-radius: 2px;
      font-family: "PingFangSC-Regular";
      font-size: 10px;
      position: relative;
      background: #ececec;
      color: #000000;
    }

    .tag-close:hover .tag-hover {
      display: inline-block;
    }

    .next-col-fixed-4 {
      line-height: 47px;
      color: #aaa;
      margin-left: 50px;
    }
  }


  .dialog-content {
    padding: 20px;
    width: 100%;
    height: 150px;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px solid #ccc;
  }
  .dialog-content::-webkit-scrollbar{
    width: 0px;
  }