.layout-content {
  padding: 30px;
  height: 100%;
  position: relative;
  .screening {
    
  }
  .target {
    margin-top: 20px;
  }
  .down-icon {
    margin-left: 21px;
  }
  .all-icon {
    cursor: pointer;
  }
}